@import url('https://fonts.googleapis.com/css?family=Raleway:200');


body {    /*set the body of the html file : minecraftplaystation.html*/         
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 100px;
  height: 700px;
  background-image:url(./images/1000857-large-minecraft-background-images-1920x1080-download.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#box {    /*create the box of the gradient border in the html file : minecraftplaystation.html*/
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 275px;
  height: 700px;
  width: 450px;
  height: 475px;
  color: white;
  font-family: 'verdana';
  font-size: 1.0rem;
  
}


.gradient-border { /*create the border in html file */
  --borderWidth: 3px;
  background-image: url(./images/minecraft_stone_brick_simple_texture_wallpaper_by_elbarnzo_d82j2kd-fullview.jpg);
  position: relative;
  border-radius: var(--borderWidth);
  
}
.gradient-border:after { /*create the effect of the gradient border in the html file*/
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 600% 600%;
}


@keyframes animatedgradient { /*create the effect of the gradient border in the html file*/
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}




    .button2 { /*creates a button in the html file*/
      background-image: url(./images/emerald.jpg);
      border: none;
      color: white;
      padding: 15px 100px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 35px;
      
    position:relative; 
      top:43%; left:0%;
    }
    .button3 { /*creates a second button in the html file*/
        background-image: url(./images/emerald.jpg);
        border: none;
        color: white;
        padding: 15px 100px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 35px;
        
      position:relative; 
        top:44%; left:40%;
      }
    .fish  /*set the settings of the image in the html file*/
    {
      position:absolute;
      top: 40px;
      left: 375px;
      z-index: 2;
      width: 75%;
    }
    .video{ /*set the settings of the video in the html file*/
      position:relative; 
        top:0%; left:-35%;
    }



    
      
  
  
      

    

