/*the styling of the background*/
body{
    background-image: url(./images/1000857-large-minecraft-background-images-1920x1080-download.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/*the styling of the titel*/
h1{
    text-align: center;
}



 /*the styling of the minecraft teaser*/
.video-size {
    height:400spx;
    width:50%;
    overflow:hidden;
}
/*the styling of the gameplay video*/
.video-size > video {
    height:300px;
    width:50%;
}
/*the styling of the gameplay video*/
#video {
    height:300px;
    width:50%;
    overflow:hidden;
    float: right;
}
#video > video {
    height:300px;
    width:50%;
    float: right;
}
/*the styling of the main text*/
h2{
    color:black;
    background-color: blue
}
/*styling of gyon's video*/

#bruh {
float: right;

}

/*styling of the "go to index button"*/
#button2 {
    background-image: url(./images/emerald.jpg);
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    text-align: center;
    
    cursor: pointer;
    position:absolute;

    bottom:1%;
}

    p { 


color: white;
background-image: url(./images/minecraft_stone_brick_simple_texture_wallpaper_by_elbarnzo_d82j2kd-fullview.jpg);
}


.button2 {
    background-image: url(./images/emerald.jpg);
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 40px;
    text-align: center;
    
    cursor: pointer;
    

    bottom: 1%;
    float: right;


  }
   
  #button69{
    background-image: url(./images/minecraft_stone_brick_simple_texture_wallpaper_by_elbarnzo_d82j2kd-fullview.jpg);
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 40px;
    text-align: center;
    
    cursor: pointer;
    position:absolute;

    bottom:10%;
    float: left;
    

  }
